@media screen and (max-width:950px){
    .side-container{
        display:none;
    }
}
body{
    background-color:rgba(var(--b3f,250,250,250),1);
}
.flex{
    display:flex;
    justify-content: center;
}
.vertical{
    flex-direction:column;
    align-items:center;
}
/*nav*/
nav{
    position:fixed;
    top:0;
    height: 58px;
    width : 100%;
    border-bottom : solid 1px rgba(0,0,0,0.2);
    background-color: white;
    display:flex;
    justify-content: center;
    z-index : 2;
}
nav div{
    width : 940px;
    padding-right : 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    height : 30px;
}
.nav-search{
    background-color : rgba(0,0,0,0.08);
    border-style: none;
    border-radius : 10px;
    display:flex;
    width : 262px;
    height :37px;
    padding :3px;
    align-items: center;
    justify-content: space-evenly;
}
.nav-search img{
    opacity:0.4;
    width : 18px;
    height :18px;
}
.nav-search input{
    border-style: none;
    width : 80%;
    height : 90%;
    background-color: transparent;
    color : rgba(0,0,0,0.3);
    font-size: 15px;
}
.nav-search input:focus {outline:none;}
.nav-icons{
    display:flex;
    width : 260px;
    justify-content: space-between;
    align-items: center;
}
.icon{
    width : 22px;
    height : 22px;
}
/*main*/
main{
    margin-top : 58px;
    z-index: 1;
}
.main-container{ /*왼쪽*/
    width : 615px
}
.side-container{ /*오른쪽*/
    width : 335px;
}
/*story-container*/
.white-box{ /*스토리랑 게시글*/
    background-color: white;
    border : solid 1px rgba(0,0,0,0.2);
}
.story-container{
    padding : 10px;
    height : 98px;
    list-style:none;
    display:flex;
    align-items: center;
}
.story{
    height :80px;
    width : 80px;
}
.story span{
    font-size : small;
}
/*post-container (게시글 1개)*/
.post-container{
    margin-bottom : 20px;
}
/*post-container의 post-header*/
.post-header{
    display:flex;
    justify-content: space-between;
    padding : 10px 15px;
    align-items: center;
}
.post-writer{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.user-name{ /*post-cotainer외에도 많이 쓰임*/
    font-weight : bold;
    font-size :14px;
}
.post-writer span{
    margin-left : 10px;
}

/*post-container의 post-icons*/
.post-icons{
    display:flex;
    padding : 10px 20px;
    justify-content: space-between;
    align-items: center;
}
.post-icons-left{
    display:flex;
    align-items: center;
    color :black;
}
.post-icons img:hover{
    opacity: 0.4;
}

/*post-container의 글 내용 영역*/
.post-like{
    font-weight :bold;
    font-size :15px;
    margin-left :20px;
}
.post-content{
    margin: 10px 0px 0px 20px;
    display:flex;
    align-items: center;
}
.post-content span:nth-child(2){
    margin:0px 5px;
    font-size: 15px;
}
.post-content span:last-child{
    opacity : 0.4;
    font-size: 15px;
}
.post-time{
    font-size : 8px;
    opacity : 0.4;
    margin-left : 20px;
}

.post-comments{
    border-top : solid 1px rgba(0,0,0,0.2);
    margin-top : 20px;
    padding : 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.post-comments input{
    width : 85%;
    border-style: none;
}
.post-comments input:focus {outline:none;}
.blue-span{ /*post-container외에도 많이 쓰임*/
    font-weight: bold;
    color : #4267B2;
}
/*side-container (오른쪽)*/
.user{
    display:flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;
    margin-top :20px;
}
.user-info{
    display:flex;
    align-items: center;
}
.user-info img{
    margin-right : 10px;
}
.user span:last-child{
    font-size : 13px;
}

/*side-container (오른쪽)의 추천친구 부분*/
.recommend-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0px 20px;
}
.recommend-header span{
    font-weight: bold;
    font-size : 13px;
}
.recommend-header span:first-child{
    opacity : 0.4;
    font-size : 15px;
}

.recommend-user{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding : 5px 20px;
}
.recommend-user-left{
    display:flex;
    align-items: center;
}
.recommend-user-left img{
    margin-right : 10px;
}
.recommend-user-left div{
    display:flex;
    flex-direction: column;

}
.recommend-user-left span:last-child{
    font-size: small;
    opacity :0.5;
}
.recommend-user span:last-child{
    font-size: 13px;
}

/*side-container (오른쪽)의 맨 아래*/
.side-container-footer{
    display:flex;
    flex-direction: column;
    padding : 20px 0px 0px 20px;
    font-size : 12px;
    font-weight: bold;
    opacity: 0.2;
}
.side-container-footer span:last-child{
    margin-top : 20px;
}

