/*dots-modal*/
.list-modal-wrapper{
    z-index : 100;
    position:fixed;
    top:0;
    left:0;
    width :100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    display:none;
    justify-content: center;
    align-items: center;
}
.dots-modal{
    width : 400px;
    display:flex;
    flex-direction: column;
    
}
.dots-modal-li{
    background-color: white;
    border : solid 0.1px rgba(183, 167, 167, 0.1);
    padding : 15px;
    display: flex;
    justify-content: center;
    font-size : 14px;
}
.dots-modal-li:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}.dots-modal-li:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.li-red{
    font-weight: bold;
    color : red;
}