<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/index.css" rel="stylesheet" type='text/css'/>
    <script src="https://kit.fontawesome.com/c3a4130b4b.js" crossorigin="anonymous"></script>
    
  </head>
  <body class="flex vertical">
      <section>
          <main>
              <article class="flex">
                <div class="phone-container">
                    <img src="../image/phone1-removebg-preview.png" class="phone-photo phone1" >
                    <img src="../image/phone2-removebg-preview.png" class="phone-photo phone2">
                </div>
                <div class="login-container flex vertical">
                    <form class="flex vertical white-box" action="/" method="POST">
                        <img src="../image/instagram.png" style="width:60%; margin-bottom : 40px;">
                        <input type="text" name="id" placeholder="전화번호, 사용자 이름 또는 이메일">
                        <input type="text" name="password" placeholder="비밀번호">
                        <button type ='submit'>로그인</button>
                        <div class="or flex">
                            <div class="line" style="margin-right : 10px;"></div>
                            <span>또는</span>
                            <div class="line" style="margin-left : 10px;"></div>
                        </div>
                        <div class="facebook-login">
                            <i class="fa-brands fa-facebook-square"></i>
                            <span>Facebook으로 로그인</span>
                        </div>
                        <a href="">비밀번호를 잊으셨나요?</a>
                    </form>
                    <div class="signup-container flex white-box">
                        <span>계정이 없으신가요?</span>
                        <a href="">가입하기</a>
                    </div>
                    <div class="download-container flex vertical">
                        <p>앱을 다운로드하세요</p>
                        <div class="download-buttons flex">
                            <a href=""><img src="../image/appleStore.png" style="margin-right:5px;"></a>
                            <a href=""><img src='../image/googlePlay.png' style="margin-left:5px;"></a>
                        </div>
                    </div>
                </div>
                
              </article>
          </main>
          <footer class="flex vertical">
            <div class="footer_1">
                <a>Meta</a>
                <a>소개</a>
                <a>블로그</a>
                <a>채용 정보</a>
                <a>도움말</a>
                <a>API</a>
                <a>개인정보처리방침</a>
                <a>약관</a>
                <a>인기 계정</a>
                <a>해시태그</a>
                <a>위치</a>
                <a>Instagram Lite</a>
            </div>
            <div class="footer_2">
                <a>댄스</a>
                <a>식음료</a>
                <a>집 및 정원</a>
                <a>음악</a>
                <a>시각예술</a>
            </div>
            <div class="footer_3 flex">
                <div><span>한국어</span><i class="fa-solid fa-angle-down"></i></div>
                <span>© 2022 Instagram from Meta</span>
            </div>
          </footer>
      </section>
      <script src="../js/component/login.js"></script>
  </body>
</html>